@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

body {
  @apply dark:bg-black;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 8s ease infinite;
  background-size: 300% 100%;
}

.dotted-background {
  background-image: radial-gradient(#181818 5%, #0000001f 15%);
}

.dotted-background {
  background-position: 0 0, 14px 14px;
  background-size: 16px 16px;
  width: 100%;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
